# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/V1/TODO
../omd-tp2-2223.pdf

../out

../V1/src/src/implementations/tester.java